.x{
    background-color: rgba(93,61,188,255);
    height: 100px;
}
.search-container {
    display: flex;
    align-items: center;
  }

  .search-box {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
  }

  .search-icon, .icon {
    font-size: 20px;
    margin-left: 5px;
    color: #333;
    cursor: pointer;
  }
.containerx {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
  }
  .search-box {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
  }
  .search-icon, .icon {
    font-size: 20px;
    margin-left: 5px;
    color: #333;
    cursor: pointer;
  }

  .media.border h5 {
    font-size: 20px;
    font-weight: 400;
    color: #202020;
    font-family: 'Open Sans', sans-serif;
  }
  